<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsm.demo.totalfreedom">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TotalFreedomTest" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="hsm.demo.totalfreedom.displayevent" />
            </intent-filter>
        </activity>
<!--
        <receiver android:name=".DataEdit">
            <intent-filter>
                <action android:name="hsm.demo.DataEdit" />
            </intent-filter>
        </receiver>
-->
        <receiver
            android:name=".DataEdit"
            android:enabled="true"
            android:exported="true"
            android:label="RegEx">
            <intent-filter>
                <action android:name="com.honeywell.decode.intent.action.EDIT_DATA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DataEditSettings"
            android:enabled="true"
            android:exported="true"
            android:label="RegEx Settings">
            <intent-filter>
                <action android:name="com.honeywell.decode.intent.action.EDIT_DATA_SETTINGS" />
            </intent-filter>
        </receiver>

        <activity android:name=".RuleListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EditActivity" android:screenOrientation="portrait" />
    </application>

</manifest>