<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsm.demo.totalfreedom">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TotalFreedomTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="hsm.demo.totalfreedom.displayevent" />
            </intent-filter>
        </activity>

        <receiver android:name=".DataEdit">
            <intent-filter>
                <action android:name="hsm.demo.DataEdit"></action>
            </intent-filter>
        </receiver>

        <activity android:name=".ListActivity"></activity>
    </application>

</manifest>